*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
body{
    background-repeat: repeat-y;
}
.cont{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 6rem;
    margin-bottom: 20rem;
    box-shadow: 5px 5px 5px gray;
}
.card{
    width: 66rem!important;
    background-color: #fff;
    border: solid 2px #fff;
    box-shadow:
    inset 60px 0 120px #ff0,  /* left magenta */
    inset -60px 0 120px #f00; /* right cyan */
}
.quiz{
    margin-top: 5rem;
}