*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}
body{
    background: url('https://tse2.mm.bing.net/th?id=OIP.FKsK9QqfnzvTNNvC3I5BOQHaEo&pid=Api&P=0&w=261&h=164');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin-right: 23.1rem;
    margin-top: 13rem;
    margin-bottom: 20rem;
    /* border: 2px solid #000; */
    border-radius: 10px;
    text-align: center;
    padding-left: 1.3rem;
    padding-top: 6rem;
    width: 40rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 5px 5px 5px gray;
        
    background-color: #fff;
    border: solid 2px #fff;
    box-shadow:
    inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff; /* right cyan */
}
.btn{
    margin: 0.75rem;
}
