NODE_ENV=*mode*
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@testcluster.yjrio.mongodb.net/<db_name>?retryWrites=true&w=majority
TOKEN_SECRET=*a secret string*
ADMIN1_EMAIL=*Email to send mails*
ADMIN1_PASS=*Password of email*