.ScoreCard{
    margin-top: 10rem;
    margin-left: 30rem;
}
.card-img-top{
    height: 10rem;
}
.score{
    box-shadow: 5px 5px 5px gray;
        
    background-color: #fff;
    border: solid 2px #fff;
    box-shadow:
    inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff; /* right cyan */
}
